In [1]:
a = input("Enter items:")

Enter items:1,23,45,67

In [2]:
print(a)

1,23,45,67

In [6]:
b= a.split(',')

In [7]:
ls = [int(x) for x in b ]

In [8]:
print(ls)

[1, 23, 45, 67]

In [10]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {}
emp_info['Tom'] = {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
print (emp_info['Tom'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}

In [11]:
dict_sample = {}

In [12]:
dict_sample = {1: 'mango', 2: 'pawpaw'}

In [13]:
dict_sample = {'fruit': 'mango', 1: [4, 6, 8]}

In [26]:
dict_sample =dict({1:'mango', 2:'pawpaw'})
type(dict_sample)

dict

In [15]:
dict_sample = dict([(1,'mango'), (2,'pawpaw')])

In [17]:
dict_sample

{1: 'mango', 2: 'pawpaw'}

In [18]:
{1:'mango', 2:'pawpaw'}

{1: 'mango', 2: 'pawpaw'}

In [27]:
dict_sample = {1: {'student1' : 'Nicholas', 'student2' : 'John', 'student3' : 'Mercy'},
        2: {'course1' : 'Computer Science', 'course2' : 'Mathematics', 'course3' : 'Accounting'}}

In [30]:
dict_sample[2]

{'course1': 'Computer Science',
 'course2': 'Mathematics',
 'course3': 'Accounting'}

In [31]:
dict_sample = {
  "Company": "Toyota",
  "model": "Premio",
  "year": 2012
}
print(dict_sample)

{'Company': 'Toyota', 'model': 'Premio', 'year': 2012}

In [40]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

output = {
         lst1[0] : {emp_key[0]:emp1_val[0],emp_key[1]:emp1_val[1], emp_key[2]:emp1_val[2]},
         lst1[1] : {emp_key[0]:emp2_val[0],emp_key[1]:emp2_val[1], emp_key[2]:emp2_val[2]},
         lst1[2] : {emp_key[0]:emp3_val[0],emp_key[1]:emp3_val[1], emp_key[2]:emp3_val[2]}
         }
print(output)

print('\n')

output = {}
for i in range(2):
    output[lst1[i]]= {emp_key[0]:eval(f"emp{i+1}_val[0]"),emp_key[1]:eval(f"emp{i+1}_val[1]"), emp_key[2]:eval(f"emp{i+1}_val[2]")}

print(output)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}


{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}}

In [48]:
# Acess the value of key 'history'
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict["class"]["student"]["marks"]["history"]

80

In [53]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
output = {}
for i in range(3):
    output[employees[i]]= defaults
print(output)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [78]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.
# Use a dictionary to provide the mapping of DNA to RNA bases.

def mRNAtranscription(dna_template):
    dna2rna = {'A':'U', 'T':'A', 'C':'G', 'G':'C'}
    print(dna2rna.get('A'))
    mRNA = ''
    for base in dna_template:    
        mRNA+=(dna2rna.get(base))  
    return mRNA

In [79]:
dna2rna = {'A':'U', 'T':'A', 'C':'G', 'G':'C'}
mRNA = ''
for base in 'ATCGTAGCA':
    mRNA+=(dna2rna.get(base))
print(mRNA)

UAGCAUCGU

In [80]:
mRNAtranscription('ATCGTAGCA')

U

'UAGCAUCGU'

In [96]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(text):
    list = [(t,text.count(t)) for t in text]
    print(dict(set(list)))

In [94]:
'google.com'.count('g')

2

In [97]:
text = 'google.com'
list = [(t,text.count(t)) for t in text]
print(dict(set(list)))

{'.': 1, 'm': 1, 'c': 1, 'e': 1, 'l': 1, 'g': 2, 'o': 3}

In [102]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def baseComposition(DNASeq):
    list = [(t,DNASeq.count(t)) for t in DNASeq]
    print(dict(set(list)))

In [103]:
baseComposition("CTATCGGCACCCTTTCAGCA")

{'C': 8, 'T': 5, 'G': 3, 'A': 4}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.